<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <variable name="logfolder" value="${basedir}/logs/${date:format=yyyyMM}"/>
  <variable name="fileday" value="${date:format=yyyyMMdd_}"/>
  <variable name="briefLayout" value="$Timestamp: ${aspnet-request:serverVariable=AUTH_USER} | ${longdate} | ${level:upperCase=true} | ${message}"/>
  <variable name="mycontext" value="${gdc:item=appname} ${mdc:item=threadprop}"/>
  <variable name="VerboseLayout"
            value="---------------------Fxtech Ido Logging--------------------
            ${newline}Timestamp: ${aspnet-request:serverVariable=AUTH_USER} ${longdate} ${level:upperCase=true} 
            ${newline}Message:${message}
            ${newline}The log entry was:
            ${newline}   ${exception:format=ToString}
            ${newline}Machine: ${machinename}
            ${newline}Client IP: ${aspnet-request:serverVariable=remote_addr} 
            ${newline}---------------------END--------------------------------
            ${newline}
            " />

  <targets async="true">
    <target xsi:type="File" name="tracelogfile" fileName="${logfolder}/${fileday}Tracelog.log" encoding="utf-8" layout="${briefLayout}" />
    <target xsi:type="File" name="file" fileName="${logfolder}/${fileday}log.log" layout="${briefLayout}" encoding="utf-8"/>
    <target xsi:type="File" name="fileAsException" fileName="${logfolder}/${fileday}log.log" layout="${VerboseLayout}" encoding="utf-8"/>
    <!--<target name="fileAsException" xsi:type="FilteringWrapper" condition="length('${exception}')>0">
      <target xsi:type="File" fileName="${basedir}/logs/log.log" layout="${VerboseLayout}" />
    </target>-->
    <target name="console" xsi:type="ColoredConsole" layout="${machinename} ${message}"/>
  </targets>

  <rules>
    <logger name="*" levels="Trace,Warn,Debug,Info" writeTo="tracelogfile" />
    <!--<logger name="*" minlevel="Warn" writeTo="file" />-->
    <logger name="*" minlevel="Warn" writeTo="fileAsException" />
    <!--<logger name="*" minlevel="Trace" writeTo="console" /> -->
  </rules>

  <!-- the targets to write to -->
</nlog>